<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photos</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.title %></td>
        <td><%= portfolio.description %></td>
        <td><%= portfolio.image_url %></td>
        <td><%= portfolio.tag %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Show', portfolio %></td>
          <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
          <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Confirm or Cancel?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-primary">
  <%= link_to "Create Portfolios", new_portfolio_path %>
</div>