<ul class="portfolio_lists">

			<li><a href="#">
				<%= image_tag("rails-1.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>

			<li><a href="#">
				<%= image_tag("rails-2.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>			

			<li><a href="#">
				<%= image_tag("rails-3.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>

			<li><a href="#">
				<%= image_tag("rails-4.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>

			<li><a href="#">
				<%= image_tag("rails-1.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>									

			<li><a href="#">
				<%= image_tag("rails-1.jpg") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>	

</ul>