<!DOCTYPE html>
<html>
<head>
  <title>RailsPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">

	<%= render 'partials/header' %>
  
	<%= yield %>

	<%= render 'partials/portfolio' %>

	<%= render 'partials/footer' %>

</div>
</body>
</html>
